body {
	color: #50555f;
}

a:hover {
	color: #47a7eb;
}

a.card-link:hover {
	color: #50555f !important;
}


/* Scaffolding */

.container {
	max-width: 1260px;
	margin-top: 100px;
}

div.main-view {
	min-height: calc(100vh - 140px);
}

/* Typo */

h4 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

h5 {
	margin-top: 30px;
	margin-bottom: 10px;
}

/* Navbar */

.navbar.bg-light {
	background: white !important;
	//box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	height: 60px;
}

.navbar-brand {
	font-weight: bold;
}

.navbar.navbar-light a.nav-link {
	color: #7c8495;
	font-size: 1rem;
	font-weight: bold;
}

.navbar a.nav-link.danger {
	color: #dc3545;
}

.navbar.navbar-light a.nav-link.active {
	color: #47a7eb;
}

div.pageheader {
	font-weight: bold;
	font-size: 1.5rem;
	color: #414650;
	margin-bottom: 40px !important;
}


/* Forms */

.form-inline {
	margin-bottom: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none !important;
	outline-width: 0 !important;
}

[contenteditable="true"]:focus {
	outline: none;
}

.text-truncate.editable-text-field-value:hover {
	color: #47a7eb;
}

.input-group > textarea {
	min-height: 40px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background: #7C8495;
}

input[name="search"]{
	margin-right: 5px;
}

.text-truncate.editable-text-field-value {
	padding: 5px 10px;
	background: #f5f6f8;
	border-radius: 3px;
	min-height: 34px;
}

/* Buttons */

.btn.btn-outline-primary {
	color: #47a7eb;
	background-color: #fff;
	border-color: #309ce8;
}

.btn.btn-outline-primary:hover {
	color: #fff;
	background-color: #47a7eb;
	border-color: #47a7eb;
}

.input-group-append .btn {
	max-height: 40px;
	height: 40px
}

.btn + .btn {
	margin-left: 10px;
}


/* Tabs */

.nav.nav-tabs {
	margin-bottom: 25px;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
	position: relative;
	top: 1px;
	border-bottom: none;
}

ul.nav-tabs .nav-link:hover {
	cursor: pointer;
	color: #47a7eb;
}

.tab-pane.active {
	padding: 20px;
}

/* Tables */

.table-responsive > .table-bordered {
	font-size: 13px;
	margin-bottom: 50px;
}

/* Cards */

.template.card {
	color: #50555F;
	max-width: 390px;
	min-width: 390px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.template.card:hover {
	text-decoration: none;
	transform: scale(1.01);
	transition: 0.1s ease-in-out;
}

.template.card .card-header {
	font-weight: bold;
	color: #50555F;
}

.template.card .card-body {
	padding: 0;
}

.template.card .card-footer {
}

.card.border-secondary {
	border-color: #DEE2E6 !important;
}



/* Misc */

div.drop-area {
	border-radius: 5px;
	margin-bottom: 50px;
}

div.drop-area div.background {
	background: #F2F3F5;
}

div.drop-area div.background:hover {
	background: #DEE2E6;
	cursor: grab;
}

code {
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 50px;
	background: #ef94941a;
}

code h3 {
	font-size: 16px;
	font-weight: bold;
}
