td.tt {
    white-space: pre-wrap;
    font-family: monospace;
}
td.log-fatal, td.log-warn, td.log-error {
    color: red;
    font-weight: bold;
}
mark.highlight {
    padding: 0px;
    background-color: yellow;
}
