.root {
    -fx-background-color: white;
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
}

.bottomText {
    -fx-fill: #807c7c;
}

.tooltip {
    -fx-text-fill: white;
}

#startButton {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-text-fill: #807c7c;
    -fx-cursor: hand;
    -fx-background-color: #eeeeee;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
    -fx-border-width: 1 1 1 1;
}

#startButton:hover {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #807c7c;
}

.status-0 {
    -fx-fill: #807c7c;
    -fx-opacity: 0.7;
}

.status-1 {
    -fx-fill: #807c7c;
    -fx-opacity: 0.8;
}

.status-2 {
    -fx-fill: #807c7c;
    -fx-opacity: 0.9;
}

.status-3 {
    -fx-fill: #807c7c;
    -fx-opacity: 1.0;
}

.status-4 {
    -fx-fill: #807c7c;
    -fx-opacity: 0.9;
}

.status-5 {
    -fx-fill: #807c7c;
    -fx-opacity: 0.8;
}
