div.template-container {
    display: inline-block;
    width: 100%;
    margin: 10px;

    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    div.template-container {
        width: calc(33% - 20px);
    }
}

div.template-container:hover {
    background-color: #f5f5f5;
}

div.template-container div.template {
    display: block;
    padding: 20px;
}

div.template-container div.template span {
    display: block;
}

div.template-container div.template span.template-name {
    font-weight: 700;
}

div.template-container div.template span.hint {
    color: #666;
    margin-top: 10px;
    font-size: 12px;
}