a.card-link {
    color: #111;
}

a.card-link:hover {
    text-decoration: none;
}

a.card.template {
    margin: 5pt;
    cursor: pointer;
}

a.card.template div.card-footer {
    color: #666;
    font-size: 12px;
}

a.card.template:hover div.card-body,
a.card.template:hover div.card-body li.list-group-item {
    background-color: #f5f5f5;
}

a.card.template div.card-list-entry {
    color: grey;
    font-size: 80%;
}

a.card.template div.card-list-entry .card-list-entry-value {
    font-style: italic;
}

a.card.template div.card-list-entry .filename {
    font-family: monospace;
}

a.card.template div.card-footer .lastModified {
    float:right;
}

a.card.template:hover div.card-header,
a.card.template:hover div.card-footer {
    background-color: #eeee;
}
