div.template-list-refresh {
    cursor: pointer;
    color: #555;
    text-align: right;
    float: right;
}

div.template-list-refresh + * {
    clear: both;
}

div.template-list-refresh:hover {
    color: #337ab7;
}

a.card-link {
    color: #111;
}

a.card-link:hover {
    text-decoration: none;
}

div.card.template {
    margin: 5pt;
    cursor: pointer;
}

div.card.template div.card-footer {
    color: #666;
    font-size: 12px;
}

div.card.template:hover div.card-body, div.card.template:hover li.list-group-item {
    background-color: #f5f5f5;
}

div.card.template div.card-list-entry {
    color: grey;
    font-size: 80%;
}

div.card.template div.card-list-entry .card-list-entry-value {
    font-style: italic;
}

div.card.template div.card-list-entry .filename {
    font-family: monospace;
}

div.card.template div.card-footer .lastModified {
    float:right;
}

div.card.template:hover div.card-header, div.card.template:hover div.card-footer {
    background-color: #eeee;
}
